*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif
}
html{
    font-size: 62.5%;
}
body{
    font-size: 1.6rem;
    background-color: black;
}
li{
    list-style: none;
}
header{
    display: flex;
    flex-direction: column;
   
    
    
}

.header-sec1{
    background: rgb(175, 168, 218);
    display: flex;
    position: fixed;
    top: 0;
    border-radius: 1rem;
   
   

}


.sec-span{
    margin: 10px;

}
header section{
    width: 100%;
    background: rgb(167, 166, 120);
    

}
header section:nth-child(2){
    justify-content:center;
    align-items: center;
    border-radius: 1rem;
    

}
main{
    
    display: flex;
    flex-direction: row;
    justify-content: stretch;


}
footer{
    height: 10vh;
}


figure {
    margin: 1rem;
    justify-content: right;
    display:flex;
    justify-content: center;
    border-radius: 1.5rem;
    
    
}
li {
    display: inline-block;
    margin: 1rem;
}
nav{
    position: absolute;
    right: 10.5rem;
}


aside, section {
    display: flex;
    flex-direction: column;
    justify-content: stretch;

}

aside {
    width: 30vw;
    background-color: rgb(241, 202, 175);
    border-radius: 1rem;
    
}
aside div{
    height: 15vh;
    margin: 3vh;
    background: rgb(154, 126, 182);
    border-radius: 1.5rem ;
}
.main-section{
    
    
    width: 90vw;
    padding: 1rem;
    background: rgb(255, 255, 255);
    border-radius: 1rem;
}
.footer-sociales, .footer-info{
    display: inline-block;
    margin: 1rem;
}
footer{
    background: rgb(194, 230, 141);
    border-radius: 1rem;
}
.footer-info {
    position: absolute;
    right: 1.5rem;
}
